.timer_count{
   background: var(--primary-color); 
   height: 300px;
}

.timer_count img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.store_btn{
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.store_btn a:hover{
   color: var(--primary-color); 
}

@media only screen and (max-width: 768px){


    .counter_img{
        display: none;
    }
    .clock_top-content{
        text-align: center;
        justify-content: center;
       

    }
    .clock_top-content h4{
        font-size: 0.9rem;
    }
    .clock_top-content h3{
        font-size: 1rem !important;
    }

    .store_btn{
        text-align: center;
        display: inline-block;
    }

    .count_down-col{
        justify-content: center;
    }
} 